@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_padding_inline: 15px;
        --form_textarea_padding_block: 15px;
        --form_textarea_padding_inline: 15px;
        --form_input_height: 40px;
        --form_textarea_height: 100px;
    }


    .form select ~ .arr
    {
        top: -8px;
        right: 16px;

        width: 12px;
        height: 12px;
    }


    .form .nice-select.open ~ .arr
    {
        top: 8px;
    }


    .form .submit_btn
    {
        height: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        top: 0;
        left: 100%;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding-block: 88px var(--cont_padding_double);

        z-index: 40;
        transition: transform .3s linear;

        background: url(../images/bg_first_section.jpg) 50%/cover no-repeat;
    }


    header.show
    {
        transform: translateX(-100%);
    }


    header .menu
    {
        flex-direction: column;

        width: 100%;

        text-align: right;
    }


    header .menu_item
    {
        width: 100%;
    }


    header .langs
    {
        width: 100%;
        margin-top: 40px;

        text-align: right;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-bottom: 60px;
    }


    .first_section .data
    {
        margin-top: 52px;
    }



    /*-------------------
        Our advantage
    -------------------*/
    .our_advantage
    {
        padding-block: 0 30px;
    }


    .our_advantage .image
    {
        margin-bottom: 40px;
    }



    /*----------------------
        How we serve you
    ----------------------*/
    .how_we_serve_you
    {
        padding-block: 30px;
    }


    .how_we_serve_you .title
    {
        margin-bottom: 24px;
    }


    .how_we_serve_you .item .icon
    {
        width: 56px;
        height: 56px;
    }


    .how_we_serve_you .item .info
    {
        width: calc(100% - 80px);

        gap: 16px;
    }



    /*--------------------
        How we operate
    --------------------*/
    .how_we_operate
    {
        padding-block: 30px;
    }


    .how_we_operate .desc
    {
        margin-top: 24px;
        padding-inline: var(--cont_padding);
    }



    /*--------------
        Projects
    --------------*/
    .projects
    {
        padding-block: 30px;
    }


    .projects .title
    {
        margin-bottom: 24px;
    }


    .projects .item .info
    {
        font-size: 12px;
    }



    /*------------------
        Bottom block
    ------------------*/
    .bottom_block
    {
        padding-block: 30px 0;
    }


    .bottom_block .logo
    {
        margin-bottom: 30px;
    }


    .bottom_block .order .form .title
    {
        font-size: 32px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-block: 60px 30px;
    }


    footer .data
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }


    footer .logo
    {
        width: 100%;
        margin-bottom: 40px;
    }


    footer .logo img
    {
        width: 80px;
        margin-inline: auto;
    }


    footer .info
    {
        width: 100%;
    }


    footer .menu
    {
        justify-content: space-between;

        gap: 0;
    }


    footer .text
    {
        text-align: center;
    }
}
