@media (max-width: 479px)
{
    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .submit_btn
    {
        display: block;

        margin-inline: auto;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .btn
    {
        width: 260px;
        height: 40px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .grid_row
    {
        --count_per_line: 2;
    }


    .projects .item .info
    {
        font-size: 14px;
    }



    /*------------------
        Bottom block
    ------------------*/
    .bottom_block .order .form .title
    {
        font-size: 28px;
    }



    /*------------
        Footer
    ------------*/
    footer .menu
    {
        align-content: center;
        align-items: center;
        flex-direction: column;

        text-align: center;
    }


    footer .bottom
    {
        align-content: center;
        align-items: center;
        flex-direction: column;

        text-align: center;

        gap: 12px;
    }
}
