/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'FrutigerLTStd';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/FrutigerLTStd-Bold.woff2') format('woff2'),
    url('../fonts/FrutigerLTStd-Bold.woff') format('woff'),
    url('../fonts/FrutigerLTStd-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'FrutigerLTStd';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/FrutigerLTStd-Roman.woff2') format('woff2'),
    url('../fonts/FrutigerLTStd-Roman.woff') format('woff'),
    url('../fonts/FrutigerLTStd-Roman.ttf') format('truetype');
}


@font-face
{
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --zero_px: calc(0 * 1px);
    --bg: #041531;
    --content_width: 1920px;
    --cont_padding: 15px;
    --cont_padding_double: calc(var(--cont_padding) * 2);
    --cont_padding_half: calc(var(--cont_padding) * .5);
    --scroll_width: 17px;
    --custom_scroll_width: 10px;
    --custom_scroll_height: 10px;
    --dark_color: #0b0f16;
    --light_color: #fff;
    --font_size: 27px;
    --font_size_title: 55px;
    --font_family: 'FrutigerLTStd', 'Arial', sans-serif;
    --font_family2: 'HelveticaNeueCyr', 'Arial', sans-serif;
    --font_family3: 'Montserrat', 'Arial', sans-serif;
}


::selection
{
    color: var(--light_color);
    background: var(--light_color);
}

::-moz-selection
{
    color: var(--light_color);
    background: var(--light_color);
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


html.custom_scroll ::-webkit-scrollbar
{
    width: var(--custom_scroll_width);
    height: var(--custom_scroll_height);

    background-color: var(--bg);
}


html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: var(--light_color);
}


body
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    font-family: var(--font_family);
    font-size: var(--font_size);
    font-weight: 400;
    line-height: normal;

    color: var(--light_color);
}


body.lock
{
    overflow: hidden;
}


button
{
    display: inline-block;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-height: 100%;

    z-index: 9;

    background: var(--bg);
}


.wrap > .main
{
    position: relative;

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: calc(var(--content_width) + var(--cont_padding_double));
    margin-inline: auto;
    padding-inline: var(--cont_padding);
}



img.cover
{
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



/*--------------
    Grid row
--------------*/
.grid_row
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: calc(var(--offset_v) * -1);
    margin-left: calc(var(--offset_h) * -1);

    --count_per_line: 3;
    --offset_h: var(--inner_gap);
    --offset_v: var(--inner_gap);
}


.grid_row > *
{
    width: calc(100% / var(--count_per_line) - var(--offset_h));
    margin-bottom: var(--offset_v);
    margin-left: var(--offset_h);
}



/*------------
    Header
------------*/
header
{
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    padding-block: 40px;

    z-index: 9;
}


header .cont
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}



header .menu
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 48px;
}


header .menu_item .btn
{
    font-size: 30px;

    letter-spacing: .012em;
}


header .menu_item .btn:hover
{
    text-decoration: underline;
}



header .langs a
{
    text-decoration: none;

    color: currentColor;
}



/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    padding-block: var(--cont_padding);

    z-index: 50;
}


.mob_header .cont
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.mob_header .mob_menu_btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 40px;
    height: 40px;
}


.mob_header .mob_menu_btn span
{
    position: relative;

    display: block;

    width: 32px;
    height: 2px;

    transition: background .2s linear;

    background: currentColor;
}


.mob_header .mob_menu_btn span:before,
.mob_header .mob_menu_btn span:after
{
    position: absolute;
    top: -8px;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: .2s linear;

    background: currentColor;
}


.mob_header .mob_menu_btn span:after
{
    top: 8px;
}


.mob_header .mob_menu_btn.active span
{
    background: transparent;
}


.mob_header .mob_menu_btn.active span:before
{
    top: 0;

    transform: rotate(45deg);
}


.mob_header .mob_menu_btn.active span:after
{
    top: 0;

    transform: rotate(-45deg);
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #fff;
    --form_focus_color: #fff;
    --form_error_color: red;
    --form_border_radius: 0;
    --form_bg_color: #fff;
    --form_placeholder_color: rgba(46,45,38,.5);
    --form_columns_offset: 40px;
    --form_line_offset: 35px;
    --form_input_height: 54px;
    --form_textarea_height: 133px;
    --form_input_padding_inline: 26px;
    --form_textarea_padding_block: 26px;
    --form_textarea_padding_inline: 26px;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form ::-moz-placeholder
{
    opacity: 1;
    color: var(--form_placeholder_color);
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .columns
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: calc(var(--form_columns_offset) * -1);
}


.form .columns > *
{
    width: calc(50% - var(--form_columns_offset));
    margin-left: var(--form_columns_offset);
}


.form .line
{
    margin-bottom: var(--form_line_offset);
}


.form .field
{
    position: relative;
}


.form .input
{
    display: block;

    width: 100%;
    height: var(--form_input_height);
    padding-inline: var(--form_input_padding_inline);

    font-family: var(--font_family3);
    font-size: 16px;
    font-weight: 300;

    transition: border-color .2s linear;

    color: var(--dark_color);
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form textarea
{
    display: block;

    width: 100%;
    height: var(--form_textarea_height);
    padding-block: var(--form_textarea_padding_block);
    padding-inline: var(--form_textarea_padding_inline);

    font-family: var(--font_family3);
    font-size: 16px;
    font-weight: 300;

    resize: none;
    transition: border-color .2s linear;

    color: var(--dark_color);
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);

    --custom_scroll_width: 4px;
    --custom_scroll_height: 4px;
}


.form .input:focus,
.form textarea:focus
{
    border-color: var(--form_focus_color);
}


.form select
{
    display: none;
}


.form .nice-select
{
    position: relative;

    cursor: pointer;
}


.form .nice-select > .current,
.form .nice-select .multiple-options
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: var(--form_input_height);
    padding-inline: var(--form_input_padding_inline);

    font-family: var(--font_family3);
    font-size: 16px;
    font-weight: 300;

    cursor: pointer;
    transition: border-color .2s linear;

    color: var(--form_placeholder_color);
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}


.form select.selected + .nice-select > .current,
.form select.selected + .nice-select .multiple-options
{
    color: var(--dark_color);
}


.form .nice-select > .current span
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}


.form .nice-select-dropdown
{
    position: absolute;
    top: 100%;
    right: 0;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    margin-top: 4px;
    padding-block: 8px;

    z-index: 9;
    transition: .2s linear;
    transform: none;

    opacity: 0;
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}


.form .nice-select .list .option
{
    display: block;

    padding: 4px var(--form_input_padding_inline);

    list-style-type: none;

    font-family: var(--font_family3);
    font-size: 16px;
    font-weight: 300;

    cursor: pointer;

    color: var(--dark_color);
}


.form .nice-select .list .option:empty
{
    display: none;
}


.form select ~ .arr
{
    position: absolute;
    top: -10px;
    right: 20px;
    bottom: 0;

    display: block;

    width: 20px;
    height: 20px;
    margin-block: auto;

    z-index: 3;
    transition: .2s linear;
    transform: rotate(-45deg);
    pointer-events: none;

    border-bottom: 1px solid #ababaa;
    border-left: 1px solid #ababaa;
}


.form .nice-select.open .nice-select-dropdown
{
    visibility: visible;

    transform: none;

    opacity: 1;
}


.form .nice-select.open ~ .arr
{
    top: 10px;

    transform: rotate(135deg);
}


.form .input:focus,
.form .nice-select.open > .current,
.form .nice-select.open .multiple-options
{
    border-color: var(--form_focus_color);
}


.form .error
{
    border-color: var(--form_error_color);
}


.form .submit_btn
{
    width: 340px;
    max-width: 100%;
    height: 50px;

    font-family: var(--font_family3);
    font-size: 18px;
    font-weight: 700;

    border-radius: 10px;
    background: url(../images/bg_btn.png) 50%/cover no-repeat;
}



/*-------------------
    First section
-------------------*/
.first_section
{
    position: sticky;
    top: var(--cont_padding);

    padding-bottom: 40px;
}


.first_section .cont
{
    display: flex;
    flex-direction: column;
}


.first_section .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: var(--cont_padding_double);
}


.first_section .logo img
{
    display: block;

    height: 238px;
}


.first_section .mob_logo
{
    display: none;
}


.first_section .mob_logo img
{
    display: block;

    width: 100%;
}


.first_section .data
{
    width: 668px;
    max-width: calc(100% - 40px);
    margin-top: 100px;
}


.first_section .title
{
    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 700;

    letter-spacing: .012em;
}


.first_section .desc
{
    margin-top: 28px;

    line-height: 1.8;

    letter-spacing: .012em;
}


.first_section .btn
{
    width: 485px;
    max-width: 100%;
    height: 55px;
    margin-top: 28px;

    font-weight: 700;

    border-radius: 10px;
    background: url(../images/bg_btn.png) 50%/cover no-repeat;
}



/*------------
    Blocks
------------*/
.blocks
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: var(--cont_padding);
}


.blocks > .col
{
    position: relative;

    width: 50%;

    z-index: 3;
}


.blocks .data
{
    display: flex;
    flex-direction: column;
}


.blocks > .bg
{
    position: fixed;
    inset: 0;

    display: block;

    z-index: 1;
    pointer-events: none;
}



/*-------------------
    Our advantage
-------------------*/
.our_advantage
{
    padding-block: 0 40px;
}


.our_advantage .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-bottom: 40px;

    gap: var(--cont_padding_double);
}


.our_advantage .logo img
{
    display: block;

    height: 238px;
}


.our_advantage .image
{
    display: block;

    width: 100%;
    margin-bottom: 80px;
}


.our_advantage .image img
{
    display: block;

    width: 100%;
}


.our_advantage .title
{
    padding-inline: var(--cont_padding_double);

    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 700;

    letter-spacing: .012em;
}


.our_advantage .desc
{
    margin-top: 28px;
    padding-inline: var(--cont_padding_double);

    line-height: 1.8;

    letter-spacing: .012em;
}



/*----------------------
    How we serve you
----------------------*/
.how_we_serve_you
{
    padding-block: 40px;
}


.how_we_serve_you .bg
{
    padding-block: 40px;
    padding-inline: var(--cont_padding);

    color: var(--dark_color);
    background: var(--light_color);
}


.how_we_serve_you .title
{
    margin-bottom: 40px;

    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 700;

    letter-spacing: .012em;
}


.how_we_serve_you .cols
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.how_we_serve_you .col
{
    display: flex;
    flex-direction: column;

    width: calc(50% - var(--cont_padding));

    gap: 25px;
}


.how_we_serve_you .item
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.how_we_serve_you .item .icon
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 80px;
    height: 80px;
}


.how_we_serve_you .item .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.how_we_serve_you .item .info
{
    display: flex;
    flex-direction: column;

    width: calc(100% - 102px);
    padding: 20px var(--cont_padding);

    border-radius: 10px;
    background: #dcdad6;

    gap: 25px;
}


.how_we_serve_you .item .name
{
    font-weight: 700;
}


.how_we_serve_you .item .desc
{
    font-size: 20px;
    line-height: 1.4;
}



/*--------------------
    How we operate
--------------------*/
.how_we_operate
{
    padding-block: 40px;
}


.how_we_operate .title
{
    padding-inline: var(--cont_padding_double);

    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 700;

    letter-spacing: .012em;
}


.how_we_operate .desc
{
    margin-top: 28px;
    padding-inline: var(--cont_padding_double);

    line-height: 1.6;

    letter-spacing: .012em;
}



/*--------------
    Projects
--------------*/
.projects
{
    padding-block: 40px;
}


.projects .title
{
    margin-bottom: 40px;
    padding-inline: var(--cont_padding_double);

    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 700;

    letter-spacing: .012em;
}


.projects .grid_row
{
    --offset_h: var(--zero_px);
    --offset_v: var(--zero_px);
}


.projects .item
{
    position: relative;

    display: block;

    text-decoration: none;

    color: currentColor;
}


.projects .item .thumb
{
    position: relative;

    display: block;

    width: 100%;
}


.projects .item .info
{
    position: absolute;
    inset: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: var(--cont_padding);

    font-family: var(--font_family3);
    font-size: 18px;
    font-weight: 700;

    transition: opacity .2s linear;
    text-align: center;

    opacity: 0;
    background: rgba(11,15,22, .8);

    gap: 4px;
}


.projects .item .info .name
{
    text-transform: uppercase;
}


.projects .item:hover .info
{
    opacity: 1;
}



/*------------------
    Bottom block
------------------*/
.bottom_block
{
    position: relative;

    padding-block: 40px 0;

    z-index: 3;
}



.bottom_block .logo
{
    margin-bottom: 40px;
}


.bottom_block .logo img
{
    display: block;

    width: 100%;
}



.bottom_block .order
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}



.bottom_block .order .image
{
    display: block;

    width: 50%;
}


.bottom_block .order .image img
{
    display: block;

    width: 100%;
}



.bottom_block .order .form
{
    position: sticky;
    top: var(--cont_padding);

    width: calc(50% - 100px);
}


.bottom_block .order .form .title
{
    margin-bottom: 20px;

    font-family: var(--font_family2);
    font-size: 60px;
    font-weight: 700;
}


.bottom_block .order .form .desc
{
    margin-bottom: 36px;

    font-family: var(--font_family3);
    font-size: 24px;
    font-weight: 300;
}



/*------------
    Footer
------------*/
footer
{
    position: relative;

    padding-block: 20px 200px;

    z-index: 3;
}


footer .data
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 50%;
}



footer .logo img
{
    display: block;

    width: 100px;
}



footer .info
{
    display: flex;
    flex-direction: column;

    width: calc(100% - 140px);
}



footer .menu
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;

    font-family: var(--font_family3);
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;

    gap: 48px;
}



footer .text
{
    margin-top: 52px;

    font-family: var(--font_family3);
    font-size: 18px;
    font-weight: 300;

    text-align: right;
}



footer .bottom
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin-top: 28px;
    padding-top: 19px;

    font-family: var(--font_family3);
    font-size: 18px;
    font-weight: 500;

    border-top: 1px solid;
}



footer .email a
{
    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}
